#header {
    background-color: #1e3d80;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header a {
    margin: 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

#header a:hover {
    color: #d3b5ce;
    text-decoration: underline;
}