<!-- <app-sliderbar></app-sliderbar>
<app-statistical></app-statistical> -->

<div class="histoire">
    <img [src]="'./../../assets/climat.jpeg'" alt="image_patient" id="image_patient">
    <div class="text_histoire">
        <h1>Bienvenue sur la page acceuil climat</h1>
        <p>Le climat de notre planète est actuellement au cœur de préoccupations majeures, suscitant un intérêt croissant à l'échelle mondiale. Les changements climatiques, en grande partie attribuables aux activités humaines, ont des conséquences profondes et durables sur notre environnement.

            L'augmentation des émissions de gaz à effet de serre, résultant notamment de la combustion des combustibles fossiles, est l'un des principaux contributeurs au réchauffement planétaire. Ce phénomène se traduit par des variations significatives des températures moyennes, des schémas météorologiques perturbés, des événements météorologiques extrêmes plus fréquents, et des conséquences graves pour la biodiversité.
            
        <p class="p2">Il est crucial que chaque individu prenne conscience de son impact sur le climat et adopte des comportements plus durables. La préservation de notre planète nécessite une action collective, allant de changements personnels à des politiques environnementales ambitieuses.

            En conclusion, le climat de la Terre est à un moment critique de son histoire, et il est de notre responsabilité collective de prendre des mesures significatives pour assurer un avenir durable. La lutte contre le changement climatique est un défi mondial qui nécessite une collaboration continue et des efforts concertés pour préserver notre maison commune.
        </p>
        
    </div>
    
</div>
<img src="./../../assets/charlie.png" alt="fond1" id="charlie">

<div class="background">
    <img src="./../../assets/bp_clinical_tests.png" alt="fond1" id="fond1">
    <div class="text-overlay">

        <h1>Participer au climat</h1>

        <p>Le climat, gardien de l'équilibre planétaire, fait face à des perturbations sans précédent de nos jours. Les activités humaines, axées sur l'exploitation intensive des ressources naturelles, ont déclenché des réponses dramatiques de la part de notre environnement.</p>
    </div>
</div>
<app-footer></app-footer>
